<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Common/css/bootstrap.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="~/Common/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Common/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Common/css/flexslider.css" rel="stylesheet" />
    <link href="~/Common/css/custom-styles.css" rel="stylesheet" />
    <link href="~/Common/css/Details.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <!--================================================== -->
    <link rel="shortcut icon" href="~/Common/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/Common/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Common/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Common/img/apple-touch-icon-114x114.png">

    <!--================================================== -->

    <script src="~/Common/js/jquery.min.js"></script>
    <script src="~/Common/js/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Common/js/jquery.prettyPhoto.js"></script>
    <script src="~/Common/js/jquery.flexslider.js"></script>
    <script src="~/Common/js/jquery.custom.js"></script>
    <script src="~/Common/js/mustache.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next');
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev');
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next');
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev');
            });

        });
        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });</script>
</head>
<body class="home">
    <div class="container">
        @RenderPage("~/Views/Shared/Header.cshtml")
        <!-- End Container -->
        @RenderBody()
    </div>

    @*@RenderPage("~/Views/Shared/Footer.cshtml")*@

    @{ Html.RenderAction("Footer", "Home");}

    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    @RenderSection("js", required: false)
</body>
</html>
