

@{
    Layout = null;
}

<div class="footer-container">
    <!-- Begin Footer -->
    <div class="container">
        <div class="row">
            <!-- Begin Sub Footer -->
            
        </div><!-- End Sub Footer -->
    </div>
</div><!-- End Footer -->