
@{
    Layout = null;
}




<div class="row header">
    <!-- Begin Header -->
    <!-- Logo
    ================================================== -->
    <div class="span5 logo">
        <h1>Admin</h1>
    </div>

    <!-- Main Navigation
    ================================================== -->
    <div class="span7 navigation">
        <div class="navbar hidden-phone" style="width: 130%;">

            <ul class="nav">
                @if (WebYoutube.Areas.Admin.Session.Admin.Position == "Admin")
                {
                    <li><a href="~/Admin/Category/Index">Category</a></li>
                    <li><a href="~/Admin/CategoryHistory/Index">Category History</a></li>

                    <li><a href="~/Admin/Position/Index">Position</a></li>
                }
                @if (WebYoutube.Areas.Admin.Session.Admin.Position == "Admin"
                    || WebYoutube.Areas.Admin.Session.Admin.Position == "Nhà Báo"
                    || WebYoutube.Areas.Admin.Session.Admin.Position == "Người Viết Bài"
                    || WebYoutube.Areas.Admin.Session.Admin.Position == "Người Kiểm Duyệt"
                    )
                {
                    <li><a href="~/Admin/User/Index">User</a></li>
                    <li><a href="~/Admin/News/Index">News</a></li>
                    <li><a href="~/Admin/PostCategory/Index">Post Category</a></li>
                }

                <li class="session"><a href="~/Admin/AdminLogin/Index">Đăng Nhập</a></li>
                <li class="user"><a href="">@WebYoutube.Areas.Admin.Session.Admin.FullName</a></li>
                <li class="user">@Html.ActionLink("Logout", "Logout", "AdminLogin")</li>

            </ul>

        </div>
        <!-- Mobile Nav
        ================================================== -->
        <form action="#" id="mobile-nav" class="visible-phone">
            <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="index.htm">Home</option>
                    <option value="index.htm">- Full Page</option>
                    <option value="index-gallery.htm">- Gallery Only</option>
                    <option value="index-slider.htm">- Slider Only</option>
                    <option value="features.htm">Features</option>
                    <option value="page-full-width.htm">Pages</option>
                    <option value="page-full-width.htm">- Full Width</option>
                    <option value="page-right-sidebar.htm">- Right Sidebar</option>
                    <option value="page-left-sidebar.htm">- Left Sidebar</option>
                    <option value="page-double-sidebar.htm">- Double Sidebar</option>
                    <option value="gallery-4col.htm">Gallery</option>
                    <option value="gallery-3col.htm">- 3 Column</option>
                    <option value="gallery-4col.htm">- 4 Column</option>
                    <option value="gallery-6col.htm">- 6 Column</option>
                    <option value="gallery-4col-circle.htm">- Gallery 4 Col Round</option>
                    <option value="gallery-single.htm">- Gallery Single</option>
                    <option value="blog-style1.htm">Blog</option>
                    <option value="blog-style1.htm">- Blog Style 1</option>
                    <option value="blog-style2.htm">- Blog Style 2</option>
                    <option value="blog-style3.htm">- Blog Style 3</option>
                    <option value="blog-style4.htm">- Blog Style 4</option>
                    <option value="blog-single.htm">- Blog Single</option>
                    <option value="page-contact.htm">Contact</option>
                </select>
            </div>
        </form>
    </div>

</div><!-- End Header -->

@{
    if (Session[WebYoutube.Areas.Admin.Session.Admin.ADMIN_SESSTION] != null)
    {
        <script>
            var login = document.getElementsByClassName("session");
            var user = document.getElementsByClassName("user");
            login[0].style.display = "none";
            user[0].style.display = "block";
            user[1].style.display = "block";
        </script>
    }
    else if (Session[WebYoutube.Areas.Admin.Session.Admin.ADMIN_SESSTION] == null)
    {
        <script>
            var login2 = document.getElementsByClassName("session");
            var user2 = document.getElementsByClassName("user");
            login2[0].style.display = "block";
            user2[0].style.display = "none";
            user2[1].style.display = "none";
        </script>

    }
}
