@model List<Data.Framework.History>

@{
    ViewBag.Title = "LoginHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

@section css{
    <link href="~/Common/css/history.css" rel="stylesheet" />
}

@Html.Partial("~/Views/People/ViewPatial.cshtml")


@if (Model.Count == 0)
{
    <div class="span12 blog">
        <span style="font-size: 24px">Không Có Dữ Liệu</span>
        <div style="height: 400px;"></div>
    </div>
}


@for (int i = 0; i < Model.Count; i++)
{
    <div class="row">
        @if (count == 1)
        {
            <div class="span2 blog">
                <h6 class="title-bg"><b>@Convert.ToDateTime(Model[i].CreateDate).ToShortDateString()</b></h6>
            </div>
            count++;
        }
        else
        {
            <div class="span2 blog">

            </div>
        }
        @if (i < Model.Count - 1)
        {
            if (Convert.ToDateTime(Model[i].CreateDate).ToShortDateString()
                    != Convert.ToDateTime(Model[i + 1].CreateDate).ToShortDateString())
            {
                count = 1;
            }
        }

        <div class="span10 blog">
       
                <h6 class="title-bg">
                    Bạn đã
                    @if (Model[i].CategoryHistoryID == 1)
                    {
                        <span>  <b> Đăng Nhập  </b></span>
                    }
                    else if (Model[i].CategoryHistoryID == 2)
                    {
                        <span>  <b> Đăng Xuất  </b></span>
                    }
                    
                    <i class="icon-calendar"></i>@Convert.ToDateTime(Model[i].CreateDate).ToShortTimeString()
                </h6>
   
        </div>

    </div>


}




